@(genBotRMI: genBot2.RemoteOrderInterface) 
<div class="cocktailEntryLeft">
	<div class="cocktail">
		<div id="Cocktail1">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#1">AVIATION</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cocktail">
		<div id="Cocktail2">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#2">BARE AND
						SHEETS</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cocktail">
		<div id="Cocktail3">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#3">BLACK BIRD</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cocktail">
		<div id="Cocktail4">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#4">BROWN
						RUSSIAN</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cocktail">
		<div id="Cocktail5">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#5">CUBA LIBRE</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cocktail">
		<div id="Cocktail6">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#6">DIRTY
						DAIQUIRI</a>
				</div>
			</div>
		</div>
	</div>
	<div class="cocktail">
		<div id="Cocktail7">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#7">DIRTY
						MARTINI</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cocktailEntryRight">
	<div id="Cocktail8">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#8">KAMIKAZE</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Cocktail9">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#9">LIME DROP
						MARTINI</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Cocktail10">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#10">SIDECAR</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Cocktail11">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#11">TSCHUNK</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Cocktail12">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#12">VESPER</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Cocktail13">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#13">WHITE
						BACARDI</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Cocktail14">
		<div class="cocktail">
			<div class="cocktailRow">
				<div class="cocktailRowContent">
					<a href="http://labyrinthos.gr/barwintest/#14">WHITE LADY</a>
				</div>
			</div>
		</div>
	</div>
</div>