@(genBotRMI: genBot.RemoteOrderInterface) @frontend.index() {
	<div id="PageContainer">
		<div style="display:none">
			<div id="OrderedCocktailNumber"></div>
			<div id="OrderedCocktailName"></div>
			<div id="OrderedName"></div>
		</div>
		<div id="Page">
			<div class="barwin" onClick="window.location.href='/interface'">BARWIN</div>
			<div id="OrderLayer" class="layer" style="display: block;">
				<div class="stepContent">
					@frontend.select(genBotRMI)
				</div>
			</div>
			<div id="ConfirmLayer" class="layer" style="display: none; opacity: 0;">
				<div class="stepContent">
					<div class="printMessage">
						<div class="SystemMessage">Your order is</div>
						<div id="ChosenCocktail" style="display: block;"></div>
						<div id="CocktailIngredients"></div>
					</div>
					<div id="StartMixing" class="choiceButton">
						<a href="#mix">Mix!</a>
					</div>
					<div id="CancelMixing" class="choiceButton">
						<a href="#order">Back</a>
					</div>
				</div>
			</div>
			<div id="MixingLayer" class="layer" style="display: none; opacity: 0;">
				<div class="stepContent">
					<div id="PleaseWait">
						<div id="PleaseWaitImage">
							<img src="@routes.Assets.at("images/please_wait.png")"alt="Please Wait for Mixing" height="100">
						</div>
					</div>
					<div class="printMessage">
						<div class="SystemMessage">Please wait</div>
					</div>
				</div>
			</div>
			<div id="VotingLayer" class="layer" style="display: none; opacity: 0; ">
				<div class="stepContent">
					<div id="PleaseVote">
						<div id="PleaseVoteLowImage">
							<img src="@routes.Assets.at("images/low_vote.png")" alt="Low-vote" height="50">
						</div>
						<div id="PleaseVoteHighImage">
							<img src="@routes.Assets.at("images/high_vote.png")" alt="High-vote" height="50">
						</div>
					</div>
					<div class="printMessage">
						<div id="VotingQuestion"></div>
					</div>
					<div id="VotingValueDisplay">
						<input type="text" id="VotingValueDisplayContent">
						<!--<div id="VotingValueDisplayContent">7.5</div>-->
					</div>
					<div id="VotingSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
						<div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-max" style="width: 50%;"></div>
						<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 50%;"></a>
					</div>
					<div id="Vote" class="choiceButton">
						<a href="#vote"	onclick="vote($('#VotingValueDisplayContent').val()); return false;">Submit</a>
					</div>
				</div>
			</div>
			<div id="MessageLayer" class="layer" style="display: none; opacity: 0;">
				<div class="stepContent">
					<div class="message">
						<div class="messageContent"><span></span> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
}

