# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

lib/log/*
lib/*.so

# Ignore Play! working directory #
db
eclipse
# PETER 
# lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
*.dll
*.sqlite3
