#---------------------------
#-- OFFERED RMI SERVICE
#---------------------------
rmiRegistry=true
rmiRegistryPort=12122
rmiServiceName=genBot
rmiInterface=lo

#---------------------------
#-- USED SERIAL RMI SERVICE
#---------------------------
serialRMIAddress=rmi://127.0.0.1:12121/serial
# Use select as serial port, to choose it at the start of the genBot server
serialPort=/dev/ttyS99

#---------------------------
#-- OTHER CONFIGURATION
#---------------------------
# Cocktail size in milligramm
cocktailSize=200

# Paths
ingredientsPath=../etc/ingredients/
storePath=../var/genBot/
stackPath=../etc/evolutionStackSettings/
