@(genBotRMI: genBot.RemoteOrderInterface)
@if(genBotRMI.getCurrentlyPouringCocktail() != null) {
<h3 class="subheader">Currently Pouring</h3>
<table class="table table-striped" id="currentlyPouring">
		<thead>
			<td>Name</td>
		</thead>
		<tbody>
			<tr">
				<td>@genBotRMI.getCurrentlyPouringCocktail.getName</td>
			</tr>
		</tbody>
</table>
}
<h3 class="subheader">Queue</h3>
<div class="stack">
	<table class="table table-striped" id="queue">
		<thead>
			<td>Name</td><td>Actions</td>
		</thead>
		<tbody>
			@for(c <- genBotRMI.getQueue.getLinkedList) {
			<tr data-name="@c.getName.replace(" ", "_")">
				<td>@c.getName</td>
				<td>
					<button type="button" data-action="delete" class="btn btn-danger btn-sm">Delete</button>
				</td>
			</tr>
			}
		</tbody>
	</table>

</div>