@(ingredients: Array[genBot2.Ingredient])
<form class="form-horizontal" role="form" id="createForm">
	<div class="form-group">
		<label for="nameInput" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="nameInput" name="name"
				placeholder="Enter name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Ingredients</label>
		<div class="col-sm-10">
	@for(i <- 0 until ingredients.length) { <label class="checkbox-inline">
		<input type="checkbox" value="@i" name="ingredients">@ingredients(i).getName
	</label> }
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Create</button>
		</div>
	</div>
</form>